name: OpenSSF Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: '0 0 * * 1'
  push:
    branches: [ main ]
  workflow_dispatch:

permissions: read-all

jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run analysis
        uses: ossf/scorecard-action@v2.3.1
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload Scorecard results artifact
        uses: actions/upload-artifact@v4
        with:
          name: scorecard-results
          path: results.sarif

  upload-sarif:
    name: Upload SARIF results
    needs: analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      contents: read
      actions: read
    steps:
      - name: Download Scorecard results artifact
        uses: actions/download-artifact@v4
        with:
          name: scorecard-results
          path: .

      - name: Upload SARIF results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
